@font-face {
	font-family: hehe;
	src: url(Fonts/Roboto/Roboto_Condensed-Medium.ttf);
}
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: hehe;
}
.main-container{
	padding: 0px 10px;
	background-image: linear-gradient(30deg,lightskyblue,#F54927);
	padding-top: 50px;
}
section{
	margin-bottom: 50px;
}
.section-header{
	color: white;
	text-align: center;
	padding-bottom: 30px;
}
.container{
	max-width: 900px;
	margin: auto;
	display: flex;
}	
img{
	width: 100%;
}
.fa-brands{
	font-size: 30px;
}
.fa-youtube{
	color: red;
}
.fa-instragm{
	color: pink;
}
.fa-facebook{
	color: blue;
}
#header .container{
	border: 5px solid white;
	border-radius: 10px;
	background: #068A38;
	display: flex;
	align-items: center;
	text-align: center;
	color: white;
	box-shadow: 3px 3px 8px black;

}
#header .container .content{
	flex-basis: 60%;
}
#header .container .content h4,
#header .container .content h2{
	line-height: 40px;
}
#header .container .content h4{
	letter-spacing: 3px;
}
#header .icons{
	padding-top: 60px;
}
#header .container .image{
	flex-basis: 40%;
}
#header .container .image img{
	border-radius: 5px;
}
#about-me .container{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
#about-me .container > div{
	flex-basis: 47%;
}
#about-me img{
	width: 200px;
	border-radius: 50%;
	float: right;
	box-shadow: 3px 3px 8px black;
}
#about-me .content{
	line-height: 30px;
}
#about-me .content h3:first-child{
	color: #0A1FA8;
}
#about-me .content h3:nth-child(2){
	color: silver;
}
#my-skills .container{
	align-items: center;
}
#my-skills .container > div{
	flex-basis: 50%;
}
#my-skills .content h2{
	color: white;
}
#my-skills .content ul{
	list-style-type: none;
	padding: 0;
}
#my-skills .content h2{
	margin-top: 30px;
}
#my-skills .content h2:first-child{
	margin-top: 0px;
}
#my-skills .content ul li{
	display: inline-block;
	background-color: rgba(245, 147, 227, 0.2);
	padding: 17px;
	margin: 10px 20px 10px 0;
	border-radius: 5px;
}
#my-skills .image-div img{
	box-shadow: 5px 5px 8px black;
}
#my-works .container{
	display: flex;
	justify-content: space-between;
}
#my-works .container .card{
	flex-basis: 29%;
	background-color: #068A38;
	color: white;
	text-align: center;
	padding: 20px 10px;
	border-radius: 5px;
	box-shadow: 5px 5px 8px black;
	transition: transform 1s;
}	
#my-works .container .card:hover{
	transform: scaleX(1.3);
}
#my-works .container .card i{
	font-size: 30px;
}
#my-works .container .card h3{
	line-height: 55px;
}
#my-works .container .card p {
	line-height: 25px;
}
#contact-me .container{
	display: flex;
}
#contact-me .container div{
	flex-basis: 50%;
}
#contact-me .info ul{
	list-style-type: none;
	color: white;
	font-weight: bold;
}
#contact-me .info ul i{
	color: black;
}
#contact-me .info ul li{
	line-height: 40px;
}
#contact-me .info ul li i{
	padding-right: 25px;
}
#contact-me .form-group{
	display: flex;
	justify-content: space-between;
}
#contact-me .form input,
#contact-me .form textarea,button{
	border-radius: 5px;
	border: none;
	margin-bottom: 10px;
	padding: 8px 10px;
}
#contact-me .form-group input{
 	flex-basis: 49%;
 	padding: 10px 10px;
}
#contact-me .form textarea{
	width: 100%;
	height: 100px;
}

#contact-me .form button{
	padding: 8px 40px;
	float: right;
	background-color: blue;
	color: white;
	margin-bottom: 0;
}
#contact-me .form-group{
	flex-direction: column;
}
header{
	background-color:  #068A38;
}
header .container {
	justify-content: space-between;
	text-align: center;
	color: white;
	line-height: 30px;
	padding: 20px 10px 60px 10px;
}
header .container > div{
	flex-basis: 31%;
}
header .container > div h3{
	margin-bottom: 20px;
}
header .container .links ul{
	list-style-type: none;
}
header .container .links ul a{
	text-decoration: none;
	color: white;
}
header .fa-brands{
	font-size: 25px;
}
.pointer{
	background-color: orange;
	color: white;
	padding: 10px;
	text-align: center;
	font-size: 30px;
	position: fixed;
	right: 10px;
	bottom: 25px;
	border-radius: 5px;
}
@media (max-width: 600px){
	.main-container{
		padding: 50px 10px 0px 10px;
	}
	.container{
		flex-direction: column;
	}

	#header .container,
	#my-skills .container{
		flex-direction: column-reverse;
	}
	#header .container,
	#about-me img,
	#my-skills .image-div img,
	#my-works .container .card {
		box-shadow: 0px 0px;
		border-radius: 0;
	}
	#header .icons {
	padding-top: 30px;
	}
	#about-me .image,
	#header .image,
	#my-skills .image-div,
	#contact-me .info {
	margin-bottom: 40px;
	}
	#about-me .content,
	#my-skills .content{
		text-align: center;
	}
	#my-works .card:first-child,
	#my-works .card:nth-child(2){
		margin-bottom: 30px;
	}
	#my-works .container .card:hover{
		transform: scaleX(1.0);
	}
	header .container > div{
		margin-bottom: 30px;
	}
	header .container > div:last-child{
		margin-bottom: 0;
	}
	header .container > div h3{
	margin-bottom: 5px;
	}
	.pointer {
	font-size: 15px;	
}
